.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  padding: 0.75em 2em;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: #4b4b4b;
  background-color: transparent;
  border: 3px solid #4b4b4b;
  font-size: 40px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
button:hover {
  background-color: rgba(75, 75, 75, 0.3);
  color: #4b4b4b;
}

button.disabled {
  color: rgba(75, 75, 75, 0.5);
  border-color: rgba(75, 75, 75, 0.5);
}

button.disabled:hover {
  background-color: transparent;
  color: rgba(75, 75, 75, 0.5);
  border-color: rgba(75, 75, 75, 0.5);
}
